In [2]:
import pandas as pd

In [3]:
data = pd.Series([1,2,3,4])
data

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
data[0]

1

In [5]:
data = pd.Series([1,2,3,4], index=['one','two','three','four'])
data

one      1
two      2
three    3
four     4
dtype: int64

In [7]:
data['one']

1

In [8]:
dict = {"a":1,"b":2,"c":3}

In [9]:
data = pd.Series(dict)
data

a    1
b    2
c    3
dtype: int64

In [12]:
dict = {"one": [1.0, 2.0, 3.0],
    "two": [4.0, 5.0, 6.0]}

df = pd.DataFrame(dict)
df

   one  two
0  1.0  4.0
1  2.0  5.0
2  3.0  6.0

In [14]:

# 여러개의 시리즈로 데이터프레임 생성
dict = {"one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"])}

df = pd.DataFrame(dict)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [16]:
df['two']

a    1.0
b    2.0
c    3.0
d    4.0
Name: two, dtype: float64

In [19]:
df.head(2)

   one  two
a  1.0  1.0
b  2.0  2.0

In [20]:
df.tail(2)

   one  two
c  3.0  3.0
d  NaN  4.0

In [21]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [24]:
df.columns

Index(['one', 'two'], dtype='object')

In [25]:
df.shape

(4, 2)